.react-count-down {
    margin: 0;
    padding: 2em;
}

.react-count-down .prefix {
  font-size: 150%;
  font-weight: 200;
  line-height: 1.5;
  color: #03CC85;  
}

.react-count-down .date {
  font-size: 150%;
  font-weight: 200;
  line-height: 1.5;
  color: #666;
}
